<!DOCTYPE html>
<html lang="es">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
		<link rel="stylesheet" href="css/normalize.css"/>
		<link rel="stylesheet" href="css/bootstrap.css"  media="screen"/>
		<link rel="stylesheet" href="css/bootstrap-responsive.css"  media="screen"/>
		<link rel="stylesheet" href="css/slidorion.css" />
		<link rel="stylesheet" href="css/estilos.css"/>
		<title>TV Robles</title>
	</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=290928600998763";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Registrate</a></li>
						<li><a href="#">Contáctenos</a></li>
					</ul>
				</div>
				<a class="brand" href="#">TV Robles</a>
				</div>
			</div>
		</div>
		<header id="overview" class="jumbotron subhead hidden-phone hidden-tablet">				
			<div class="container">
				<div class="descripcion">
					<h1>TV ROBLES</h1>
					<h3>Un punto de cultura</h3>
				</div>					
				<form>
					<input type="text" />
					<input type="submit" value="Buscar" class="btn btn-inverse"/>
				</form>				
			</div>
		</header>
		<div class="container">			
			<div id="slidorion" class="hidden-phone hidden-tablet">
				<div id="slider">
					<div class="slide"><img src="img/banner/cultura.jpg" alt="" /></div>
					<div class="slide"><img src="img/banner/cultura.jpg" alt="" /></div>
					<div class="slide"><img src="img/banner/cultura.jpg" alt="" /></div>
				</div>
				
				<div id="accordion">
					<div class="link-header">New Features</div>
					<div class="link-content">
						<!-- content -->
					</div>
					<div class="link-header">A Simple Image</div>
					<div class="link-content">
						<!-- content -->
					</div>
					<div class="link-header">Background Image w/ HTML</div>
					<div class="link-content">
						<!-- content -->
					</div>
				</div>
			</div>
			
			<section class="row">
				<aside class="span3 hidden-phone hidden-tablet">
					<ul id="menu_lateral">
						<li class="principal"><a class="menu" href="#">Opciones</a>
							<ul>
								<li><a href="#">Inicio</a></li>
								<li><a href="#">Solicitud de Servicio</a></li>
								<li><a href="#">Solicitud de Servicio</a></li>
								<li><a href="#">Solicitud de Servicio</a></li>
								<li><a href="#">Solicitud de Servicio</a></li>
								<li><a href="#">Solicitud de Servicio</a></li>	
							</ul>
						</li>
						<li class="principal"><a class="menu" href="#">Tablas</a>
							<ul>
								<li><a href="#">Usuarios</a></li>
								<li><a href="#">Clientes</a></li>
								<li><a href="#">Permisos</a></li>
								<li><a href="#">Paquetes</a></li>
							</ul>
						</li>
						<li class="principal"><a class="menu" href="#">Sesion</a>
							<ul>
								<li><a href="#">Cambiar Contraseña</a></li>
								<li><a href="#">Cerrar Sesión</a></li>
							</ul>
						</li>
					</ul>
					<div class="fb-like-box" data-href="https://www.facebook.com/TvRobles" data-width="240" data-height="400" data-show-faces="true" data-stream="false" data-border-color="#ccc" data-header="true"></div>
				</aside>
				<article class="span9">
					<div class="row-fluid">
						<ul class="span12 lista_superior">
							<li><a>Inicio</a></li>
						</ul>
					</div>
					<div class="row-fluid noticia">
						<h2 class="span12">Noticia 1</h2>
						<div class="row-fluid">
							<div class="span8">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenati Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenati Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenati Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenati Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenati
							</div>
							<img class="span4" src="img/noticia.gif"/>
						</div>
						<a href="#">ver más</a>
					</div>
					
					<div class="row-fluid noticia">
						<h2 class="span12">Noticia 1</h2>
						<div class="row-fluid">
							<div class="span8">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenati Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenatiLorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenatiLorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenati
							</div>
							<img class="span4" src="img/noticia.gif"/>
						</div>
						<a href="#">ver más</a>
					</div>
					
					<div class="row-fluid noticia">
						<h2 class="span12">Noticia 1</h2>
						<div class="row-fluid">
							<div class="span8">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenati Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenatiLorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenatiLorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenati
							</div>
							<img class="span4" src="img/noticia.gif"/>
						</div>
						<a href="#">ver más</a>
					</div>
					
					<div class="row-fluid noticia">
						<h2 class="span12">Noticia 1</h2>
						<div class="row-fluid">
							<div class="span8">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenati Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenatiLorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenatiLorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec eu est lectus. Nunc dignissim, massa et euismod lacinia, 
								risus velit congue tortor, vel venenati
							</div>
							<img class="span4" src="img/noticia.gif"/>
						</div>
						<a href="#">ver más</a>
					</div>					
				</article>
			</section>
			
		</div>
		<footer id="overview" class="jumbotron subhead hidden-phone hidden-tablet">				
			<div class="container">			
				<ul class="span3 linea lista">
					<li class="menu">link</li>
					<li>
						<ul>
							<li><a href="#">opcion 1</a></li>
							<li><a href="#">opcion 2</a></li>
						</ul>
					</li>
				</ul>
				
				<ul class="span3 linea lista">
					<li class="menu">link</li>
					<li>
						<ul>
							<li><a href="#">opcion 1</a></li>
							<li><a href="#">opcion 2</a></li>
						</ul>
					</li>
				</ul>
				
				<ul class="span3 lista">
					<li class="menu">link</li>
					<li>
						<ul>
							<li><a href="#">opcion 1</a></li>
							<li><a href="#">opcion 2</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</footer>
		<script src="http://code.jquery.com/jquery.js" type="text/javascript"></script>
		<!--<script src="js/prefixfree.min.js" type="text/javascript"></script>-->
		<script src="js/bootstrap.js" type="text/javascript"></script>		
		<script src="js/jquery.easing.js" type="text/javascript"></script>
		<script src="js/jquery.slidorion.js" type="text/javascript"></script>
		<script>
			$(document).ready(function(){
				$('#slidorion').slidorion({
					speed: 1000,
					interval: 4000,
					effect: 'slideLeft'
				});
				
				$('ul#menu_lateral li a').click(function(event){
					var elem = $(this).next();
					if(elem.is('ul')){
						event.preventDefault();
						$('ul ul:visible').not(elem).slideUp();
						elem.slideToggle();
					}
				});
			});
		</script>
	</body>
</html>
