/* CSS crunched with Crunch - http://crunchapp.net/ */
ul li{list-style-type:none;}
a:hover{text-decoration:none;}
body{background-color:#eeeeee;font-size:14px;color:#1a1a1a;}
.navbar .brand{float:right;}
#slidorion{margin-bottom:20px;margin-left:0px;position:static;width:100%;box-shadow:0 0 20px #1a1a1a;background:#1a1a1a;border:1px solid #1a1a1a;}#slidorion #slider{width:76%;}
#slidorion #accordion{width:23%;}#slidorion #accordion .link-header{background:-moz-linear-gradient(top, #489f3f 59%, #377a30 100%);}
#slidorion #accordion .link-header:hover{background:#489f3f;}
#slidorion #accordion .active{background:#2f6829 !important;}
header{background:#2f6829;box-shadow:0px 4px 10px -2px #000000;margin-top:40px;margin-bottom:20px;}header .descripcion{float:left;width:400px;}
header h1{font-size:4.0em;float:left;padding:10px 0;}
header h3{float:left;margin-top:-10px;}
header form{float:right;margin-top:40px;}header form .btn{margin-top:-10px;}
section aside{height:auto;float:left;}section aside ul#menu_lateral{margin-top:20px;}section aside ul#menu_lateral li{padding:5px 1px;}section aside ul#menu_lateral li a{color:#0d0d0d;}
section aside ul#menu_lateral li.principal{width:80%;}section aside ul#menu_lateral li.principal .menu{background:#2f6829;border-radius:5px;box-shadow:0px 0px 7px #1a1a1a;color:#1a1a1a;display:block;font-size:1.4em;padding:9px 13px;width:100%;margin-bottom:10px;}
article .lista_superior{border-bottom:2px solid #d5d5d5;}
article .noticia{margin-bottom:15px;}
article .noticia_detalle .categorias{height:30px;margin-top:17px;}article .noticia_detalle .categorias span{color:#444;float:left;font-weight:bold;margin-right:10px;}
article .noticia_detalle .categorias .link li{background:#d5d5d5;border-radius:5px;box-shadow:0px 0px 2px #111;float:left;padding:1px 7px;margin-right:10px;}article .noticia_detalle .categorias .link li:hover{background:#cdcdcd;box-shadow:0px 0px 4px #111;}
article .noticia_detalle .categorias .link li a{color:#484848;}
article .noticia_detalle .autor{font-weight:bold;margin-top:-10px;margin-bottom:5px;}
article .noticia_detalle .autor_descrip img{border:1px solid #888888;float:left;margin-right:10px;}
article .noticia_detalle .datos{color:#777;font-size:0.9em;margin-top:-16px;margin-bottom:19px;}
footer{background:#1a1a1a;box-shadow:0px -4px 10px -2px #000000;margin-top:35px;padding-top:16px;color:#eeeeee;}footer .lista{width:30%;}footer .lista .menu{font-size:16px;font-weight:bold;text-align:center;padding-bottom:13px;}
footer .lista a{padding:8px 10px;display:block;color:#959595;}footer .lista a:hover{color:#eeeeee;}
footer .linea{border-right:1px solid #959595;border-left:1px solid #959595;}
