{% extends 'base.html' %}


{% block contenido %}
<div class="row-fluid">
    <ul class="span12 lista_superior breadcrumb">
        <li><a href="{% url 'index' %}">Inicio</a><span class="divider">/</span></li>
        <li><a href="{% url 'ver_autores' %}">Integrantes</a></li>
    </ul>
</div>
<div class="row-fluid autores">
    <h1>Integrantes</h1>
    {% for persona in personal%}
    <ul id="autores">
        <li class="item">
            <img src="{{persona.imagen}}"  width="100"/>
            <div class="datos_autor">
                <span>{{persona.nombre}} {{persona.apellido}} - {{persona.tipo}}</span>
                <div>{{persona.descripcion}}</div>
            </div>
        </li>
        {% if not forloop.last %}
        <li class="separador"></li>
        {% endif %}
    </ul>	
    {% endfor %}
</div>


{% endblock %}