{% extends 'base.html' %}


{% block contenido %}
<div class="row-fluid">
    <ul class="span12 lista_superior breadcrumb">
        <li><a href="{% url 'index' %}">Inicio</a> <span class="divider">/</span></li>
        <li><a href="{% url 'ver_calendario' %}">Calendario de Eventos</a></li>
    </ul>
</div>
<div class="row-fluid noticia_detalle">
    {% comment %}
    <h2>Calendario de Eventos</h2>
    {% endcomment %}
    <div class="contenido">
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=tvroblesperu%40gmail.com&amp;color=%232F6309&amp;ctz=America%2FNew_York" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>


{% endblock %}
